extends layout

block content
  h1= title
  p Welcome to the #{title}
  p To access navigate to the /new route and enter a valid website
  p You will then be given the original URL and Shortened version
  p The original url will be stored in a database to be used in the future